.ticket-digit-container {
    padding: 3px;
    text-align: center;
}

.ticket-digit {
    border: 1px solid rgba(20, 38, 90, 0.6);
    border-radius: 3px;
    background-color: rgba(223, 241, 250, 0.9);
    padding: 6px 3px;
}

.ticket-digit-button-top {
    margin-bottom: 5px;
}

.ticket-digit-button-bottom {
    margin-top: 5px;
}

.tickets-container {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.add-ticket-container {
    padding-left: 10px;
    text-align: center;
}

.add-ticket-container>div {
    margin-bottom: 10px;
}

.ticket-number-date {
    padding-left: 20px;
}

/* ticket */
.ticket {
    margin: 5px;
}

.ticket-outer-container {
    padding: 5px;
    background-color: #efebde;
}

.ticket-inner-container {
    padding: 5px;
    border: 1px solid #d74c52;
    text-align: center;
    color: #d74c52;
}

.ticket-header-text-container {
    font-size: 12px;
}

.ticket-number-container {
    font-family: 'Courier';
    padding: 20px 0px;
    font-size: 18px;
    line-height: 18px;
    color: #15140d;
}

.ticket-bus-label-container {
    font-size: 12px;
    text-transform: uppercase;
}

.ticket-ticket-label-container {
    font-size: 10px;
    text-transform: uppercase;
}

.ticket-price-container {
    font-size: 10px;
    text-transform: lowercase;
}