.ticket-digit-button {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-size: 12px;
    color: #d74c52;
    background-color: #bcb9ab;
    border: 1px solid #d74c52;
    text-align: center;
    margin: 5px 2px;
    cursor: pointer;
    user-select: none;
}

.ticket-digit-button:hover {
    background-color: #fffcef;
}

.ticket-digit-button {
    margin-top: 5px;
}

.tickets-container {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.new-ticket-container {
    padding: 10px 0px;
    border-radius: 2px;
    justify-content: center;
}

.new-ticket-number-container,
.new-ticket-date-container {
    margin-bottom: 10px;
    text-align: center;
}

.new-ticket-number-container>div {
    justify-content: center;
}

.new-ticket-container>div {
    margin-bottom: 10px;
}

.new-ticket-add-button-container {
    text-align: center;
}

.ticket-number-date {
    padding-left: 20px;
}

/* ticket */
.ticket {
    margin: 5px;
}

.ticket-outer-container {
    padding: 5px;
    background-color: #efebde;
}

.ticket-inner-container {
    padding: 5px;
    border: 1px solid #d74c52;
    text-align: center;
    color: #d74c52;
}

.ticket-header-text-container {
    font-size: 12px;
}

.ticket-number-container {
    font-family: 'Courier';
    padding: 20px 0px;
    font-size: 18px;
    line-height: 18px;
    color: #15140d;
}

.ticket-bus-label-container {
    font-size: 12px;
    text-transform: uppercase;
}

.ticket-ticket-label-container {
    font-size: 10px;
    text-transform: uppercase;
}

.ticket-price-container {
    font-size: 10px;
    text-transform: lowercase;
}